.goi-container {
  margin: 0 auto;
  background-color: aliceblue;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.goi-container2 {
  margin: 0 auto;
  background-color: rgb(216, 201, 218);
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.inner-container {
  margin-left: 20rem;
  text-align: left;
}
.question,
.question2,
.ans {
  font-size: 3rem;
  margin: 0;
}

button {
  color: white;
  background-color: gray;
  border: none;
  font-size: 2rem;
  border-radius: 5px;
  margin-bottom: 1.5rem;
}

.goi-span {
  width: 100px;
  background-color: red;
}

.point {
  justify-content: left;
  font-size: 3rem;
}
