.goi-container {
  margin: 0 auto;
  background-color: rgb(185, 205, 224);
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.goi-container2 {
  margin: 0 auto;
  background-color: rgb(216, 201, 218);
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.goi-container3 {
  margin: 0 auto;
  background-color: rgb(243, 243, 178);
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.goi-container4 {
  margin: 0 auto;
  background-color: rgb(243, 178, 234);
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.hide1,
.hide3,
.hide2,
.hide4 {
  display: none;
}

.inner-container {
  margin-left: 20rem;
  text-align: left;
}
.question,
.question2,
.question3,
.question4,
.ans {
  font-size: 3rem;
  margin: 0;
}

.page-title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  background-color: rgb(53, 108, 110);
  border-radius: 5px;
  color: rgb(255, 255, 255);
}

button {
  color: white;
  background-color: gray;
  border: none;
  font-size: 2rem;
  border-radius: 5px;
  margin-bottom: 1.5rem;
}

.toggle-btn1 {
  margin-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 0;
  background-color: rgb(185, 205, 224);
  color: black;
}
.toggle-btn2 {
  margin-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 0;
  background-color: rgb(216, 201, 218);
  color: black;
}
.toggle-btn3 {
  margin-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 0;
  background-color: rgb(243, 243, 178);
  color: black;
}
.toggle-btn4 {
  margin-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 0;
  background-color: rgb(226, 178, 243);
  color: black;
}

.goi-span {
  width: 100px;
  background-color: red;
}

.point {
  justify-content: left;
  font-size: 3rem;
}
